<div id="footer-1">
  <div id="footer-avatar"><img draggable="false" src="/cdn/img/avatar.jpg" /></div>
  <h3>Contactez-nous</h3>
  <div id="footer-contact">
    <a href="https://discord.gg/GegJXchAfN" target="_blank"><img draggable="false" src="/cdn/img/discord.png" /></a>
    <a href="/"><img src="/cdn/img/twitter.png" draggable="false" /></a>
    <a href="/"><img src="/cdn/img/mail.png" draggable="false" /></a>
  </div>
  <p id="footer-copyright">©️ 2022 Kady Team - All rights reserved</p>
</div>
<div id="footer-2">
  <h4>Kady</h4>
  <a href="/">Kady Bot</a>
  <a href="/">Commands</a>
  <a href="/">About</a>
  <a href="/">Contact</a>
  <a href="https://discord.gg/GegJXchAfN" target="_blank">Kady support server</a>
</div>
<div id="footer-3">
  <h4>Legal</h4>
  <a href="/">Terms and conditions</a>
  <a href="/">Privacy policy</a>
  <a href="/">Cookie policy</a>
</div>