<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- OPENGRAPH DATA -->
<meta name="author" content="Kady Development Team">
<meta name="description" content="Kady est le futur bot que vous utiliserez pour vos serveurs !">
<meta name='theme-color' content='#959ab0'>
<meta name="keywords" content="kady, Discord, bot, server, management, help">
<!-- HEADER NEEDED CONTENT -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- website icon -->
<link rel="icon" href="/cdn/img/avatars/header.png" type="image/png">
<!-- STYLESHEET -->
<link rel="stylesheet" href="/cdn/css/all.css">
<!-- SCRIPT -->
<script src="/cdn/js/all.js"></script>
<script src="/cdn/js/onload.js"></script>
